.highlight {
    position: relative;
}

.highlight pre {
    padding-right: 5px;
    /* background-color:#f8f8f8 !important; */
}

.highlight-copy-btn {
    position: absolute;
    top: 2px;
    right: 110px; /* Copy按钮左右移动位置 */
    border: 0;
    border-radius: 4px;
    padding: 1px;
    font-size: 0.8em;
    line-height: 1.5;
    color: #fff;
    background-color: #777;
    min-width: 50px;
    text-align: center;
}

.highlight-copy-btn:hover {
    background-color: #666;
}